<html layout:decorate="~{layouts/main}">
<head>

</head>
<body>
<div layout:fragment="content">
<h2>Users</h2>

<ul th:each="user : ${users}">
	<li class="list-group-item clearfix">
		<span class="label label-default" th:if="${not user.enabled}">Account Deactivated</span>
		<span class="label label-warning" th:if="${user.admin}">Admin User</span>
		<span th:text="${user.username}" /> 
		<span th:text="${user.firstName}" />
		<span th:text="${user.lastName}"/>
		<div class="pull-right text-right">
		<span th:if="${not user.enabled}">
			<form action="#" th:action="@{'/admin/user/' + ${user.username} + '/approve'}" method="POST">
			<button style="padding:0px" class="btn btn-link"><i class="fas fa-user-check"></i> Activate</button>
			</form>
		</span>
		
		<span th:if="${user.enabled}">
			<span th:if="${not user.admin}">
			<form action="#" th:action="@{'/admin/user/' + ${user.username} + '/admin'}" method="POST">
			<button style="padding:0px" class="btn btn-link"><i class="fas fa-user-tie"></i> Make Admin</button>
			</form>
			</span>
			<span th:if="${user.admin}">
			<form action="#" th:action="@{'/admin/user/' + ${user.username} + '/admin/remove'}" method="POST">
			<button style="padding:0px" class="btn btn-link"><i class="fas fa-user"></i> Remove Admin Role</button>
			</form>
			</span>
		
			<form action="#" th:action="@{'/admin/user/' + ${user.username} + '/disable'}" method="POST">
			<button style="padding:0px" class="btn btn-link"><i class="fas fa-user-slash"></i> Deactivate User</button>
			</form>
		</span>
		</div>
	</li>
</ul>
</div>
</body>
</html>