<html layout:decorate="~{layouts/main}">
<head></head>
<body>
<div layout:fragment="content">
<ol class="breadcrumb">
  <li><a th:href="@{/}">Home</a></li>
  <li><a th:href="@{items}" />Group</a></li>
  <li class="active">[[${outdatedCitation.key}]]</li>
</ol>

<div class="alert alert-warning" role="alert">
<b>Citation has changed!</b> The citation stored in Citesphere is different than the one in Zotero. 
If you proceed, Citesphere will first update the locally stored citation with the updated data retrieved from 
Zotero and then apply the changes you made. You will be able to review and change your edits before data is sent to Zotero. 
Do you want to proceed?
</div>

<h2>
	<span th:each="author,status : ${outdatedCitation.authors}">
				[[${author.lastName}]]<span th:if="${!#strings.isEmpty(author.firstName)}">, [[${author.firstName}]]</span>
		<span th:if="${!status.last}">; </span>
				
	</span>
	  <em>[[${outdatedCitation.title}]]</em>
	  <span th:if="${!#strings.isEmpty(outdatedCitation.dateFreetext)}">
 	  [[(${outdatedCitation.dateFreetext})]]
 	  </span> 
</h2>

<!--  currently stored citation  -->
<div class="col-md-4">
<h4>Currently stored data (Version [[${outdatedCitation.version}]])</h4>
<table class="table table-striped">
<tr>
<td width="20%">Item Key</td>
<td>[[${outdatedCitation.key}]]</td>
</tr>
<tr>
<td>Citation Type</td>
<td th:with="iconClass=${@iconsResource.getProperty(form.itemType + '_icon')}
			  , iconLabel=${@iconsResource.getProperty(form.itemType + '_label')}">
<i th:classappend="${!#strings.isEmpty(iconClass)} ? ${iconClass} : 'fas fa-file'" th:title="${iconLabel} ?: ${entry.itemType}"></i> [[${iconLabel} ?: ${entry.itemType}]]
</td>
</tr>

<tr th:if="${#lists.contains(outdatedCitationFields, 'title') }">
<td>Title</td>
<td>[[${outdatedCitation.title}]]</td>
</tr>

<tr th:if="${#lists.contains(outdatedCitationFields, 'shortTitle') }">
<td>Short Title</td>
<td>[[${outdatedCitation.shortTitle}]]</td>
</tr>

<tr th:if="${#lists.contains(outdatedCitationFields, 'date') }">
<td>Date</td>
<td>[[${outdatedCitation.dateFreetext}]]</td>
</tr>

<tr>
<td>Authors</td>
<td>
<span th:each="author,status : ${outdatedCitation.authors}">
				[[${author.lastName}]]<span th:if="${!#strings.isEmpty(author.firstName)}">, [[${author.firstName}]]</span>
		<span th:if="${!#lists.isEmpty(author.affiliations)}">
					 (<th:block th:each="aff,affStatus : ${author.affiliations}">
					 	[[${aff.name}]]<span th:if="${!affStatus.last}">, </span>
					 </th:block>)
			<span th:if="${!status.last}">; </span>
		</span>
	</span>
	
	
</td>
</tr>
<tr>
<td>Editors</td>
<td>
<span th:each="editor,status : ${outdatedCitation.editors}">
				[[${editor.lastName}]]<span th:if="${!#strings.isEmpty(editor.firstName)}">, [[${editor.firstName}]]</span>
		<span th:if="${!status.last}">; </span>
				
	</span>
</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'publicationTitle') }">
<td>Publication Title</td>
<td>[[${outdatedCitation.publicationTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'journalAbbreviation') }">
<td>Journal Abbreviation</td>
<td>[[${outdatedCitation.journalAbbreviation}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'volume') }">
<td>Volume</td>
<td>[[${outdatedCitation.volume}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'issue') }">
<td>Issue</td>
<td>[[${outdatedCitation.issue}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'pages') }">
<td>Pages</td>
<td>[[${outdatedCitation.pages}]]</td>
</tr>

<tr th:if="${#lists.contains(outdatedCitationFields, 'series') }">
<td>Series</td>
<td>[[${outdatedCitation.series}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'seriesTitle') }">
<td>Series Title</td>
<td>[[${outdatedCitation.seriesTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'seriesText') }">
<td>Series Text</td>
<td>[[${outdatedCitation.seriesText}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'url') }">
<td>URL</td>
<td><a href="${outdatedCitation.url}">[[${outdatedCitation.url}]]</a></td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'language') }">
<td>Language</td>
<td>[[${outdatedCitation.language}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'doi') }">
<td>DOI</td>
<td>[[${outdatedCitation.doi}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'issn') }">
<td>ISSN</td>
<td>[[${outdatedCitation.issn}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'archive') }">
<td>Archive</td>
<td>[[${outdatedCitation.archive}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'archiveLocation') }">
<td>Archive Location</td>
<td>[[${outdatedCitation.archiveLocation}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'libraryCatalog') }">
<td>Library Catalog</td>
<td>[[${outdatedCitation.libraryCatalog}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'callNumber') }">
<td>Call Number</td>
<td>[[${outdatedCitation.callNumber}]]</td>
</tr>
<tr th:if="${#lists.contains(outdatedCitationFields, 'rights') }">
<td>Rights</td>
<td>[[${outdatedCitation.rights}]]</td>
</tr>
</table>
</div>

<!--  current citation fields -->
<div class="col-md-4">
<h4>Data retrieved from Zotero (Version [[${currentCitation.version}]])</h4>
<table class="table table-striped">
<tr>
<td width="20%">Item Key</td>
<td>[[${currentCitation.key}]]</td>
</tr>
<tr>
<td>Citation Type</td>


<td>
	<div th:with="iconClass=${@iconsResource.getProperty(currentCitation.itemType + '_icon')}
			 , iconLabel=${@iconsResource.getProperty(currentCitation.itemType + '_label')}">
				<i th:classappend="${!#strings.isEmpty(iconClass)} ? ${iconClass} : 'fas fa-file'" th:title="${iconLabel} ?: ${currentCitation.itemType}"></i> [[${iconLabel} ?: ${currentCitation.itemType}]]
	</div>
</td>



</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'title') }" th:classappend="${currentCitation.title != outdatedCitation.title} ? 'changed' : ''">
<td>Title</td>
<td>[[${currentCitation.title}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'shortTitle') }" th:classappend="${currentCitation.shortTitle != outdatedCitation.shortTitle} ? 'changed' : ''">
<td>Short Title</td>
<td>[[${currentCitation.shortTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'date') }" th:classappend="${currentCitation.dateFreetext != outdatedCitation.dateFreetext} ? 'changed' : ''">
<td>Date</td>
<td>[[${currentCitation.dateFreetext}]]</td>
</tr>
<tr>
<td>Authors</td>
<td>
	<span th:each="author,status : ${currentCitation.authors}">
				[[${author.lastName}]]<span th:if="${!#strings.isEmpty(author.firstName)}">, [[${author.firstName}]]</span>
		<span th:if="${!#lists.isEmpty(author.affiliations)}">
					 (<th:block th:each="aff,affStatus : ${author.affiliations}">
					 	[[${aff.name}]]<span th:if="${!affStatus.last}">, </span>
					 </th:block>)
			<span th:if="${!status.last}">; </span>
		</span>
	</span>
</td>


</tr>
<tr>
<td>Editors</td>
<td>
	<span th:each="editor,status : ${currentCitation.editors}">
				[[${editor.lastName}]]<span th:if="${!#strings.isEmpty(editor.firstName)}">, [[${editor.firstName}]]</span>
		<span th:if="${!status.last}">; </span>
				
	</span>
</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'publicationTitle') }" th:classappend="${currentCitation.publicationTitle != outdatedCitation.publicationTitle} ? 'changed' : ''">
<td>Publication Title</td>
<td>[[${currentCitation.publicationTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'journalAbbreviation') }" th:classappend="${currentCitation.journalAbbreviation != outdatedCitation.journalAbbreviation} ? 'changed' : ''">
<td>Journal Abbreviation</td>
<td>[[${currentCitation.journalAbbreviation}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'volume') }" th:classappend="${currentCitation.volume != outdatedCitation.volume} ? 'changed' : ''">
<td>Volume</td>
<td>[[${currentCitation.volume}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'issue') }" th:classappend="${currentCitation.issue != outdatedCitation.issue} ? 'changed' : ''">
<td>Issue</td>
<td>[[${currentCitation.issue}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'pages') }" th:classappend="${currentCitation.pages != outdatedCitation.pages} ? 'changed' : ''">
<td>Pages</td>
<td>[[${currentCitation.pages}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'series') }" th:classappend="${currentCitation.series != outdatedCitation.series} ? 'changed' : ''">
<td>Series</td>
<td>[[${currentCitation.series}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'seriesTitle') }" th:classappend="${currentCitation.seriesTitle != outdatedCitation.seriesTitle} ? 'changed' : ''">
<td>Series Title</td>
<td >[[${currentCitation.seriesTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'seriesText') }" th:classappend="${currentCitation.seriesText != outdatedCitation.seriesText} ? 'changed' : ''">
<td>Series Text</td>
<td>[[${currentCitation.seriesText}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'url') }" th:classappend="${currentCitation.url != outdatedCitation.url} ? 'changed' : ''">
<td>URL</td>
<td><a href="${currentCitation.url}">[[${currentCitation.url}]]</a></td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'language') }" th:classappend="${currentCitation.language != outdatedCitation.language} ? 'changed' : ''">
<td>Language</td>
<td>[[${currentCitation.language}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'doi') }" th:classappend="${currentCitation.doi != outdatedCitation.doi} ? 'changed' : ''">
<td>DOI</td>
<td>[[${currentCitation.doi}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'issn') }" th:classappend="${currentCitation.issn != outdatedCitation.issn} ? 'changed' : ''">
<td>ISSN</td>
<td>[[${currentCitation.issn}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'archive') }" th:classappend="${currentCitation.archive != outdatedCitation.archive} ? 'changed' : ''">
<td>Archive</td>
<td>[[${currentCitation.archive}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'archiveLocation') }" th:classappend="${currentCitation.archiveLocation != outdatedCitation.archiveLocation} ? 'changed' : ''">
<td>Archive Location</td>
<td>[[${currentCitation.archiveLocation}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'libraryCatalog') }" th:classappend="${currentCitation.libraryCatalog != outdatedCitation.libraryCatalog} ? 'changed' : ''">
<td>Library Catalog</td>
<td>[[${currentCitation.libraryCatalog}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'callNumber') }" th:classappend="${currentCitation.callNumber != outdatedCitation.callNumber} ? 'changed' : ''">
<td>Call Number</td>
<td>[[${currentCitation.callNumber}]]</td>
</tr>
<tr th:if="${#lists.contains(currentCitationFields, 'rights') }" th:classappend="${currentCitation.rights != outdatedCitation.rights} ? 'changed' : ''">
<td>Rights</td>
<td>[[${currentCitation.rights}]]</td>
</tr>
</table>
</div>

<!-- Form fields -->
<div class="col-md-4">
<h4>Your edits</h4>

<table class="table table-striped">
<tr>
<td width="20%">Item Key</td>
<td>[[${form.key}]]</td>
</tr>
<tr>
<td>Citation Type</td>
<td>
	<div th:with="iconClass=${@iconsResource.getProperty(form.itemType + '_icon')}, iconLabel=${@iconsResource.getProperty(form.itemType + '_label')}">
		<i th:classappend="${!#strings.isEmpty(iconClass)} ? ${iconClass} : 'fas fa-file'" th:title="${iconLabel} ?: ${entry.itemType}"></i> [[${iconLabel} ?: ${entry.itemType}]]
	</div>
</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'title') }" th:classappend="${form.title != outdatedCitation.title} ? 'changed' : ''">
<td>Title</td>
<td>[[${form.title}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'shortTitle') }" th:classappend="${form.shortTitle != outdatedCitation.shortTitle} ? 'changed' : ''">
<td>Short Title</td>
<td>[[${form.shortTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'date') }" th:classappend="${form.dateFreetext != outdatedCitation.dateFreetext} ? 'changed' : ''">
<td>Date</td>
<td>[[${form.dateFreetext}]]</td>
</tr>
<tr>
<td>Authors</td>
<td>
</td>
</tr>
<tr>
<td>Editors</td>
<td>
</tr>
<tr th:if="${#lists.contains(formFields, 'publicationTitle') }" th:classappend="${form.publicationTitle != outdatedCitation.publicationTitle} ? 'changed' : ''">
<td>Publication Title</td>
<td>[[${form.publicationTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'journalAbbreviation') }" th:classappend="${form.journalAbbreviation != outdatedCitation.journalAbbreviation} ? 'changed' : ''">
<td>Journal Abbreviation</td>
<td>[[${form.journalAbbreviation}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'volume') }" th:classappend="${form.volume != outdatedCitation.volume} ? 'changed' : ''">
<td>Volume</td>
<td>[[${form.volume}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'issue') }" th:classappend="${form.issue != outdatedCitation.issue} ? 'changed' : ''">
<td>Issue</td>
<td>[[${form.issue}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'pages') }" th:classappend="${form.pages != outdatedCitation.pages} ? 'changed' : ''">
<td>Pages</td>
<td>[[${form.pages}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'series') }" th:classappend="${form.series != outdatedCitation.series} ? 'changed' : ''">
<td>Series</td>
<td>[[${form.series}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'seriesTitle') }" th:classappend="${form.seriesTitle != outdatedCitation.seriesTitle} ? 'changed' : ''">
<td>Series Title</td>
<td>[[${form.seriesTitle}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'seriesText') }" th:classappend="${form.seriesText != outdatedCitation.seriesText} ? 'changed' : ''">
<td>Series Text</td>
<td>[[${form.seriesText}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'url') }" th:classappend="${form.url != outdatedCitation.url} ? 'changed' : ''">
<td>URL</td>
<td><a href="${form.url}">[[${form.url}]]</a></td>
</tr>
<tr th:if="${#lists.contains(formFields, 'language') }" th:classappend="${form.language != outdatedCitation.language} ? 'changed' : ''">
<td>Language</td>
<td>[[${form.language}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'doi') }" th:classappend="${form.doi != outdatedCitation.doi} ? 'changed' : ''">
<td>DOI</td>
<td>[[${form.doi}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'issn') }" th:classappend="${form.issn != outdatedCitation.issn} ? 'changed' : ''">
<td>ISSN</td>
<td>[[${form.issn}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'archive') }" th:classappend="${form.archive != outdatedCitation.archive} ? 'changed' : ''">
<td>Archive</td>
<td>[[${form.archive}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'archiveLocation') }" th:classappend="${form.archiveLocation != outdatedCitation.archiveLocation} ? 'changed' : ''">
<td>Archive Location</td>
<td>[[${form.archiveLocation}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'libraryCatalog') }" th:classappend="${form.libraryCatalog != outdatedCitation.libraryCatalog} ? 'changed' : ''">
<td>Library Catalog</td>
<td>[[${form.libraryCatalog}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'callNumber') }" th:classappend="${form.callNumber != outdatedCitation.callNumber} ? 'changed' : ''">
<td>Call Number</td>
<td>[[${form.callNumber}]]</td>
</tr>
<tr th:if="${#lists.contains(formFields, 'rights') }" th:classappend="${form.rights != outdatedCitation.rights} ? 'changed' : ''">
<td>Rights</td>
<td>[[${form.rights}]]</td>
</tr>
</table>
</div>

<div class="col-md-12">
<form action="#" th:action="@{|/auth/group/${zoteroGroupId}/items/${outdatedCitation.key}/conflict/resolve?index=${index}&page=${page}&sortBy=${sortBy}&collectionId=${collectionId}|}" th:object="${form}" method="POST">
<input type="hidden" path="key" th:value="${form.key}" />
<input type="hidden" path="itemType" th:value="${form.itemType}" />
<input type="hidden" path="title" th:value="${form.title}" />
<input type="hidden" path="shortTitle" th:value="${form.shortTitle}" />
<input type="hidden" path="dateFreetext" th:value="${form.dateFreetext}" />
<input type="hidden" path="publicationTitle" th:value="${form.publicationTitle}" />
<input type="hidden" path="journalAbbreviation" th:value="${form.journalAbbreviation}" />
<input type="hidden" path="volume" th:value="${form.volume}" />
<input type="hidden" path="issue" th:value="${form.issue}" />
<input type="hidden" path="pages" th:value="${form.pages}" />
<input type="hidden" path="series" th:value="${form.series}" />
<input type="hidden" path="seriesTitle" th:value="${form.seriesTitle}" />
<input type="hidden" path="seriesText" th:value="${form.seriesText}" />
<input type="hidden" path="url" th:value="${form.url}" />
<input type="hidden" path="language" th:value="${form.language}" />
<input type="hidden" path="doi" th:value="${form.doi}" />
<input type="hidden" path="issn" th:value="${form.issn}" />
<input type="hidden" path="archive" th:value="${form.archive}" />
<input type="hidden" path="archiveLocation" th:value="${form.archiveLocation}" />
<input type="hidden" path="libraryCatalog" th:value="${form.libraryCatalog}" />
<input type="hidden" path="callNumber" th:value="${form.callNumber}" />
<input type="hidden" path="rights" th:value="${form.rights}" />

<button type="submit" class="btn btn-primary">Sounds good, proceed!</button>
<a th:href="@{|/auth/group/${zoteroGroupId}/items/${outdatedCitation.key}?index=${index}&page=${page}&sortBy=${sortBy}&collectionId=${collectionId}|}" class="btn btn-default">No, cancel.</a>
</form:form>
</div>



</div>

</body>
</html>
