<html layout:decorate="~{layouts/main}">
<head>
<script th:src="@{/resources/paginator/jquery.twbsPagination.min.js}"></script>
<script th:inline="javascript">
$(function() {
	$('#pagination-top').twbsPagination({
	    totalPages: [(${totalPages})],
	    startPage: [(${currentPage})],
	    prev: "«",
	    next: "»",
	    visiblePages: 10,
	    initiateStartPageClick: false,
	    onPageClick: function (event, page) {
	    	window.location.href = "history?page=" + page;
	    }
	});
});
</script>
</head>
<body>
<div layout:fragment="content">

<div class="col-xs-12">
    <h2 style="margin-top: 0">
        <th:block th:each="author,status : ${authors}">
            <strong>[[${author.lastName}]]<span th:if="${!#strings.isEmpty(author.firstName)}">, [[${author.firstName}]]</span></strong>
            <span th:if="${!status.last}">; </span>
        </th:block>
        <em>[[${title}]]</em>
        <span th:if="${!#strings.isEmpty(year)}">
          [[(${year})]]
        </span>
    </h2>
</div>
<ul id="pagination-top" class="pagination-sm"></ul>
<table class="table table-striped">
    <tr>
        <th>Updated on</th>
        <th>Updated by</th>
    </tr>
    <tr th:each="version,loop : ${versions}">
        <td><a th:href="@{|/auth/group/${zoteroGroupId}/items/${itemKey}/history/${version.version}/version?page=${currentPage}|}" th:text="${version.updatedDate}"/></td>
        <td><a th:href="@{|/auth/group/${zoteroGroupId}/items/${itemKey}/history/${version.version}/version?page=${currentPage}|}" th:text="${version.updatedBy}"/></td>
    </tr>
</table>
</div>
</body>
</html>