<html layout:decorate="~{layouts/main}">
<head>
<style>
.center {
    position: absolute;
    top: 50%;
    left: 35%;
}​
</style>
</head>

<body>
<div layout:fragment="content">
    <div class="progress center" style="width: 500px">
      <div id="syncProgress" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      <span id="syncText"></span></div>
    </div>
    <script th:inline="javascript">
    	syncUrl = '../sync/info';
        $.get(syncUrl, pollStatus);
        
        function pollStatus() {
            $.ajax({
                type: 'GET',
                url: syncUrl,
                contentType : "application/json",
                dataType: "json",
                success: function (data) {
                    if(data['status'] == 'PREPARED' || data['status'] == 'STARTED') {
                        if (data['total'] == 0) {
                            $("#syncProgress").attr('style', "width:" + "100%");
                            $("#syncProgress").attr('aria-valuenow', 100);
                            $("#syncProgress").attr('aria-valuemax', 100);
                            $("#syncProgress").addClass("progress-bar-striped active");
                        } else {
                            var percent = data['current']/data['total']*100;
                            $("#syncProgress").attr('style', "width:" + percent + "%");
                            $("#syncProgress").attr('aria-valuenow', data['current']);
                            $("#syncProgress").attr('aria-valuemax', data['total']);
                            $("#syncProgress").addClass("progress-bar-striped active");
                            $("#syncText").text(Math.round(percent) + "% synced");
                        }
                        setTimeout(pollStatus,1000);
                    } else {
                        $("#syncProgress").attr('style', "width: 100%");
                        $("#syncProgress").attr('aria-valuenow', 100);
                        $("#syncProgress").attr('aria-valuemax', 100);
                        $("#syncProgress").removeClass("progress-bar-striped active");
                        location.reload();
                    }
                }
            });
        }
    </script>
</div>
</body>
</html>