<html layout:decorate="~{layouts/main}">

<head>
<script th:src="@{/resources/paginator/jquery.twbsPagination.min.js}"></script>
<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script th:inline="javascript">
    $(function() {
        $('#pagination-top').twbsPagination({
            totalPages: [(${totalPages})],
            startPage: [(${currentPage})],
            prev: "«",
            next: "»",
            visiblePages: 10,
            initiateStartPageClick: false,
            onPageClick: function (event, page) {
                window.location.href = "?page=" + page;
            }
        });
    });

</script>
</head>

<body>
	<div layout:fragment="content">
		<span th:if="${people == null}">
			<h3>
				People not found for <span th:text="${groupIdNo}"></span> group!
			</h3>
		</span>

		<ul id="pagination-top" class="pagination-sm"></ul>

		<ul class="list-group" id="peopleList">
			<li th:each="person, iterStat : ${people}"
				class="list-group-item clearfix"><a
				th:if="${!#strings.isEmpty(person.uri)}"
				th:href="@{|/auth/group/${zoteroGroupId}/items/showCitation?uri=${person.uri}|}">
					<i>[[${person.name}]] - [[${person.uri}]]</i>
			</a> <a th:unless="${!#strings.isEmpty(person.uri)}"
				th:href="@{|/auth/group/${zoteroGroupId}/items/showCitation?citationKey=${person.citationKey}|}">
					<i>[[${person.name}]] - [[${person.uri}]]</i>
			</a></li>
		</ul>
	</div>
</body>

</html>