<html layout:decorate="~{layouts/main}">

<head>
  <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
</head>

<body>
  <div layout:fragment="content">
    <ul class="list-group">
      <li th:each="iCitation, iterStat : ${involvedCitations}" class="list-group-item clearfix">
        <a class="bib-entry"
          th:href="@{|/auth/group/${zoteroGroupId}/items/${iCitation.key}?index=${iterStat.index}|}">
          <i>[[${iCitation.title}]] </i>
        </a>
      </li>
    </ul>
  </div>
</body>

</html>