<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="fileLogger" fileName="logs/citesphere-info.log" filePattern="logs/citesphere-info-%d{yyyy-MM-dd}.log">
        <PatternLayout>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- Application Loggers -->
    <Logger name="edu.asu.diging" level="${log.level}">
    </Logger>
    
    <Logger name="org.springframework.scheduling" level="${log.level}">
    </Logger>
    
    
    <Logger name="org.springframework.core" level="${log.level}">
        
    </Logger>
    
    <Logger name="org.springframework.beans" level="${log.level}">
        
    </Logger>
    
    <Logger name="org.springframework.context" level="${log.level}">
        
    </Logger>

    <Logger name="org.springframework.web" level="${log.level}">
        
    </Logger>
    
    
    <Logger name="org.springframework.security" level="${log.level}">
        
    </Logger> 
    <Logger name="org.springframework.data" level="${log.level}">
        
    </Logger>
    
    <Logger name="org.elasticsearch" level="${log.level}">
        
    </Logger>
    
    <Logger name="org.hibernate.SQL" level="${log.level}">
        
    </Logger>
    <Logger name="org.hibernate.type.descriptor.sql" level="${log.level}">
        
    </Logger>
    <Logger name="org.apache.kafka" level="${log.level}">
        
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="fileLogger"/>
    </Root>
  </Loggers>
</Configuration>
