<html layout:decorate="~{layouts/main}">
<head>
<script th:src="@{/resources/paginator/jquery.twbsPagination.min.js}"></script>
<script th:inline="javascript">
$(function() {

    $("#searchConceptSpinner").hide();


    $("#searchConcept").click(function() {
        if (allowConceptSearch("Concept")) {
            $("#selectConceptModel").on('hidden.bs.modal', function(e) {
                $('#selectConceptModel a:first').tab('show');
            })
            $("#searchConceptSpinner").show();
            $('#conceptpowerConcepts-pagination-top').twbsPagination('destroy');
            $('#viafConcepts-pagination-top').twbsPagination('destroy');
            getViafConcepts('Concept', 'Concept', 0)
            getConceptpowerConcepts('Concept', 'Concept', 0)
            $("#searchConceptSpinner").hide();
        }
    });

    $("#clearConceptFields").click(function() {
        $("#conceptName").val("");
        $("#conceptDescription").val("");
        $("#URI").val("");
        allowConceptSearch("Concept");
    });

    $("#conceptName").keyup(function(e) {
        allowConceptSearch("Concept");
    });

    // $("#conceptDescription").keyup(function(e) {
    //     allowConceptSearch("Concept");
    // });

    $("#closeConceptSearchResult").click(function() {
        $("#selectConceptModel").modal('hide');
        $('#selectConceptModel a:first').tab('show');
    });

});

function populateInfo(name, description, uri, importerId) {
	$("#conceptName").val(name);
	
	if (description != undefined && description != ' - ') {
	    $("#conceptDescription").val(description);
	}
	
	if (uri != undefined && uri != '') {
	    $("#URI").val(uri);
	}
}

function getConceptpowerConcepts(modalType, personType, page) {
    var conceptName = $("#conceptName").val();
    // var conceptDescription = $("#conceptDescription").val();
    personType_lowerCase = personType.toLowerCase();
    url = [[@{|/auth/authority/find/authorities/conceptpower|}]] + '?firstName=' + conceptName + '&lastName=' + "" + '&page=' + page;
    $("#loadingMessageConceptPower").html("<i class='glyphicon glyphicon-refresh spinning'></i>" +
		" Loading Results.");
	$("#loadingModalConceptPower").modal('show');
    $.ajax({
        dataType: "json",
        type: 'GET',
        url: url,
        async: false,
        success: function(data) {
            $("#conceptpowerConceptSearchResult").empty();
            var content = '';

            if (data['foundAuthorities'] != null && data['foundAuthorities'].length > 0) {
                data['foundAuthorities'].forEach(function(elem) {
                    content += '<tr> <td class="name">' + elem['name'] + '</td> <td class="uri">' + elem['uri'] + '</td> <td class="description">';
                    if (elem['description'] == null) {
                        content += ' - </td>';
                    } else {
                        content += elem['description'] + '</td>';
                    }

                    content += '<div class="importerId" style="display: none;">';
                    if (elem['importerId'] == null) {
                        content += '</div>';
                    } else {
                        content += elem['importerId'] + '</div>';
                    }
                    content += '<td style="vertical-align: middle;"><span class="conceptpower-concept-entry btn btn-primary" title="Create new managed concept" style="padding: 5px;"><i class="icon-checkmark-alt" style="color: white;"></i></span></td></tr>';

                });

                $('#conceptpowerConcepts-pagination-top').twbsPagination({
                    totalPages: data['totalPages'],
                    startPage: data['currentPage'],
                    prev: "«",
                    next: "»",
                    visiblePages: 5,
                    initiateStartPageClick: false,
                    onPageClick: function(event, page) {
                        getConceptpowerConcepts(modalType, personType, page)
                    }
                });

            }

            $("#conceptpowerConceptSearchResult").append(content);
            $(".conceptpower-concept-entry").click(function() {
                name = $(this).closest("tr").find(".name").text();
                uri = $(this).closest("tr").find(".uri").text();

                description = $(this).closest("tr").find(".description").text();
                
                populateInfo(name, description, uri);
                $("#selectConceptModel").modal('hide');
            });

        	$("#loadingModalConceptPower").modal('hide');
        },
        error: function(data) {
            $("#loadingMessageConceptPower").html("<i class='glyphicon glyphicon-remove-sign'></i>" +
			"Error loading results. Try again later.");
			$('#loadingModalConceptPower').modal('show');
            $('#conceptpowerConceptSearchResult').parents('table').hide()
            $("#conceptpowerConceptsError").show();
            setTimeout(function() {
				$('#loadingModalConceptPower').modal('hide');
		  	}, 3000);
        }

    });
}

function getViafConcepts(modalType, personType, page) {
	var conceptName = $("#conceptName").val();
	personType_lowerCase = personType.toLowerCase();
	url = [[@{|/auth/authority/find/authorities/viaf|}]] + '?firstName='+ conceptName + '&lastName=' + "" +'&page='+page;		
    $("#loadingMessageViaf").html("<i class='glyphicon glyphicon-refresh spinning'></i>" +
		" Loading Results.");
	$("#loadingModalViaf").modal('show');
	$.ajax({
  		dataType: "json",
  		type: 'GET',
  		url: url ,
  		async: false,
  		success: function(data) {
  			$("#viafConceptsSearchResult").empty();
  			var content = '';
  			
  			if (data['foundAuthorities'] != null && data['foundAuthorities'].length > 0) {
                data['foundAuthorities'].forEach(function(elem) {
                    content += '<tr> <td class="name">' + elem['name'] + '</td> <td class="uri">' + elem['uri'] + '</td> <td>';
                    if (elem['description'] == null) {
                        content += ' - </td>';
                    } else {
                        content += elem['description'] + '</td>';
                    }
                    content += '<td style="vertical-align: middle;"><span class="viaf-concept-entry btn btn-primary" title="Create new managed concept" style="padding: 5px;"><i class="icon-checkmark-alt" style="color: white;"></i></span></td></tr>';

                });

                $('#viafConcepts-pagination-top').twbsPagination({
                    totalPages: data['totalPages'],
                    startPage: data['currentPage'],
                    prev: "«",
                    next: "»",
                    visiblePages: 5,
                    initiateStartPageClick: false,
                    onPageClick: function(event, page) {
                    	getViafConcepts(modalType, personType, page-1)
                    }
                });

            }

            $("#viafConceptsSearchResult").append(content);
            $(".viaf-concept-entry").click(function() {
                name = $(this).closest("tr").find(".name").text();
                uri = $(this).closest("tr").find(".uri").text();
                
                description = $(this).closest("tr").find(".description").text();

                populateInfo(name, description, uri);
                $("#selectConceptModel").modal('hide');
            });
        	$("#loadingModalViaf").modal('hide');
        },
        error: function(data) {
            $("#loadingMessageViaf").html("<i class='glyphicon glyphicon-remove-sign'></i>" +
			"Error loading results. Try again later.");
			$('#loadingModalViaf').modal('show');
            $('#viafConceptsSearchResult').parents('table').hide()
            $("#viafConceptsError").show();
            setTimeout(function() {
				$('#loadingModalViaf').modal('hide');
		  	}, 3000);
        }

    });
}

function allowConceptSearch(element) {
    if ($("#conceptName").val() == "") {
        $("#search" + element).prop("disabled", true);
        return false;
    } else {
        $("#search" + element).prop("disabled", false);
        return true;
    }
}

</script>
</head>
<body>
<div layout:fragment="content">
<h1>Create Concept</h1>

<form action="#" th:action="@{/auth/concepts/add}" method="POST" th:object="${conceptForm}">

<table class="table table-striped">
	
<tr>
<td width="20%"><label for="conceptName">Name</label></td>
<td width="60%"><input th:field="*{name}" class="form-control" id="conceptName"></input>
<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td> 
<td width="20%"><a data-toggle="modal"
    data-target="#selectConceptModel" id="searchConcept" disabled
    title="Enter Name to Search">
    Search Concept 
    <i id="searchConceptSpinner" class="icon-spinner"
        style="color: white"></i>
</a></td>
</tr>

<tr>
<td width="20%"><label for="conceptDescription">Description</label></td>
<td><input th:field="*{description}" class="form-control" id="conceptDescription"></input></td>
</tr>

<tr>
<td width="20%"><label>URI</label></td>
<td><input th:field="*{uri}" id = "URI" class="form-control"></input>
<span class="text-danger" th:if="${#fields.hasErrors('uri')}" th:errors="*{uri}"></span></td> 
</tr>
</table>

<p class="pull-right">
<button class="btn btn-primary" type="submit">Create</button>
</p>
</form>

<p>
    <button class="btn btn-primary" data-toggle="modal"
        id="clearConceptFields"
        style="margin-left: 80%">
        Clear 
    </button>
</p>
    

<div id="selectConceptModel" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="selectConceptLabel">
    <div class="modal-dialog" style="width: 1000px" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ConceptLabel">Concept Search Result</h4>
            </div>

            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#conceptpowerConceptsTabContent" aria-controls="uploadTab"
                                role="tab" data-toggle="tab">Concepts from Conceptpower</a>
                        </li>
                        <li role="presentation">
                            <a href="#viafConceptsTabContent"
                                aria-controls="browseTab" role="tab" data-toggle="tab">Concepts from VIAF</a>
                        </li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="conceptpowerConceptsTabContent">
                            <ul id="conceptpowerConcepts-pagination-top" class="pagination-sm"></ul>
                            <div id="conceptpowerConceptsError" class="text-warning" style="display: none">
                                <span> Error occurred while searching concepts in conceptpower </span>
                            </div>
                            </br>
                            <table class="table table-striped table-bordered table-fixed">
                                <tr><th>Name</th><th>URI</th><th>Description</th><th></th></tr>
                                <tbody id="conceptpowerConceptSearchResult">
                                </tbody>
                            </table>                            
                        </div>
                        
                        <div role="tabpanel" class="tab-pane" id="viafConceptsTabContent">
                            <ul id="viafConcepts-pagination-top" class="pagination-sm"></ul>
                            <div id="viafConceptsError" class="text-warning" style="display: none">
                                <span> Error occurred while searching concepts in VIAF </span>
                            </div>
                            </br>
                            <table class="table table-striped table-bordered table-fixed">
                                <tr><th>Name</th><th>URI</th><th>Description</th><th></th></tr>
                                <tbody id="viafConceptsSearchResult">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        id="closeConceptSearchResult">Close</button>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModalConceptPower" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="loadingMessageConceptPower" class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="loadingModalViaf" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="loadingMessageViaf" class="modal-body"></div>
        </div>
    </div>
</div>


</div>
</body>

</html>