<html layout:decorate="~{layouts/main}">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm"></div>
			<div class="jumbotron col-sm">

				<form sec:authorize="isAnonymous()" name='f' class="form-horizontal"
					action="#" th:action="@{/login/reset}" method="POST">
					<h2 class="col-sm-12">Password Reset</h2>
					<p class="col-sm-12">Please enter the email address you used to
						register:</p>
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<div class="form-group">
						<div class="col-sm-12">
							<input placeholder="Email Address" class="form-control input-sm"
								type="text" id="email" name="email" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary bg-dark-blue">Submit</button>
						</div>
					</div>
				</form>

				<div sec:authorize="isAuthenticated()">It looks like you're
					logged in. Please logout to reset your password.</div>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>