<html layout:decorate="~{layouts/main}">
<head>
<script th:src="@{/resources/paginator/jquery.twbsPagination.min.js}"></script>
<script th:inline="javascript">
//# sourceURL=page.js
$(function() {
    $('#pagination-top').twbsPagination({
        totalPages: [(${total})],
        startPage: [(${page})],
        prev: "«",
        next: "»",
        visiblePages: 10,
        initiateStartPageClick: false,
        onPageClick: function (event, page) {
            window.location.href = "exports?page=" + page;
        }
    });
});
</script>
</head>

<body>
<div layout:fragment="content">
<h1>Imports</h1>

<div class="alert alert-info" role="alert">Please reload the page to see updated status information.</div>

<ul id="pagination-top" class="pagination-sm"></ul>

<table class="table table-striped">
<tr>
<th>Job ID</th>
<th>Group</th>
<th>Uploaded file</th>
<th>File Size</th>
<th>Content Type</th>
<th>Status</th> 
<th>Created On</th>
<th></th>
</tr>
	<tr th:each="job:${jobs}"> 
		<td>[[${job.id}]]</td>
		<td><span class="label label-default">
				<a th:href="@{|/auth/group/${job.citationGroup}/items|}" style="color: #ffffff">[[${job.citationGroupDetail.name}]] </a> 
			</span>
		</td>
		<td>[[${job.filename}]]</td>
		<td>[[${job.fileSize}]]</td>
		<td>[[${job.contentType}]]</td>
		<td>[[${job.status}]]</td>
		<td>[[${job.createdOn}]]</td>
		<td>
		    <span th:if="${#strings.equals(job.status,'DONE')}"><i style="color: green;" class="fas fa-check-circle"></i></span>
		    <span th:if="${#strings.equals(job.status,'STARTED')}"><i style="color: orange;" class="fas fa-cogs"></i></span>
		    <span th:if="${#strings.equals(job.status,'FAILURE')}"><i style="color: red;" class="fas fa-exclamation-circle"></i></span>
		</td>
	</tr>
</table>

</div>
</body>
</html>