<html layout:decorate="~{layouts/main}">
<head>

<script th:src="@{/resources/notify/bootstrap-notify.min.js}"></script>
<script th:inline="javascript">
$(function() {
	$("#secret").click(function() {
		$('#client-update-confirmation').modal("show");	
		event.preventDefault();
	});
	
	$("#update-client-button").click(function() {
		var url = "[(${clientId})]/secret/update";
		$.ajax({
			'url': url + "?[(${_csrf.parameterName})]=[(${_csrf.token})]",
			'type': "POST",
			'success': function(response){
				 $('#secretKey').text(response.secret);
				 $.notify('<i class="icon-checkmark-alt"></i> New token successfully generated!', {
						type: 'success',
						offset: {
							x: 50,
							y: 90
						},
						animate: {
							enter: 'animated fadeInRight',
							exit: 'animated fadeOutRight'
						}
				});
			},
			'error': function(data) {
				$.notify('<i class="icon-warning"></i> An error occurred. A new token could not be generated.', {
					type: 'danger',
					offset: {
						x: 50,
						y: 90
					},
					animate: {
						enter: 'animated fadeInRight',
						exit: 'animated fadeOutRight'
					}
				});
			}
		});
		$('#client-update-confirmation').modal("hide");
		event.preventDefault();
	});
});
</script>
</head>
<body>
<div layout:fragment="content">
<div class="pull-right" style="float:left;margin-top: 20px;">
	<form action="#" th:action="@{/admin/apps}" method="GET"><button class="btn btn-primary" type="submit">Show All Tokens</button></form>
</div>
<div class="pull-right" style="float:right;margin-top: 20px;">
	<button id="secret" type="submit" class="btn btn-primary">Regenerate Token</button>&nbsp;&nbsp;
</div>

<br/>
<h2><span th:text="${clientName}"/></h2>
<br/>
<table class="table table-striped">
<tr>
	<td>Client Id</td>
	<td><span th:text="${clientId}"/></td>
</tr>
<tr>
	<td>Token</td>
	<span th:if = "${secret != null && secret != ''}">
		<td id="secretKey"><span th:text="${secret}"/></td>
	</span>
	<span th:unless = "${secret != null && secret != ''}">
		<td id="secretKey"><I>*Secret Key is hidden*</I></td>
	</span>
	
</tr>
<tr>
	<td>Name</td>
	<td><span th:text="${clientName}"/></td>
</tr>
</table>
<div class="modal fade" id="client-update-confirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Regenerate Token</h4>
      </div>
      <div class="modal-body">
        <p>Once a new token has been generated, using the old secret won't be able to access API's anymore. Are you sure you want to regenerate the token?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button id="update-client-button" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

</div>
</body>
</html>
