<html layout:decorate="~{layouts/main}">
<head></head>
<body>
<div layout:fragment="content">
	<ol class="breadcrumb">
		<li><a th:href="@{/}">Home</a></li>
		<li><a th:href="@{/auth/concepts/types/list}">Concept Types</a></li>
		<li class="active"><span th:text="${form.name}"></span></li>
	</ol>
	<h2>Edit Concept Type: <span th:text="${form.name}"></span></h2>
	
	<form action="#" th:action="@{'/auth/concepts/types/' + ${conceptTypeId} + '/edit'}" th:object="${form}" method="POST" id="editForm">
	
		<table class="table table-striped">
	
		<tr>
		<td width="20%"><label>Name:</label></td>
		<td><input th:field="*{name}" type="text" class="form-control" placeholder="Name" th:value="${form.name}"></input>
		<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td> 
		</tr>

		<tr>
		<td width="20%"><label>Description:</label></td>
		<td><input th:field="*{description}" type="text" class="form-control" placeholder="Description" th:value="${form.description}"></input></td>
		</tr>

		<tr>
		<td width="20%"><label>URI:</label></td>
		<td><input th:field="*{uri}" type="text" class="form-control" placeholder="URI" th:value="${form.uri}"></input>
		<span class="text-danger" th:if="${#fields.hasErrors('uri')}" th:errors="*{uri}"></span>
		<input type="hidden" class="form-control" th:value="${form.conceptTypeId}" ></input></td> 
		</tr>

		<tr>
		<td width="20%"><label>Owner:</label></td>
		<td><input th:field="*{owner}" type="text" class="form-control" placeholder="Owner" th:value="${form.owner}" th:readonly="readonly"></input>
		<span class="text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></span>
		<input type="hidden" class="form-control" th:value="${form.conceptTypeId}" ></input></td> 
		</tr>
		</table>
		
		<br>
		<button id="submitForm" class="btn btn-primary" type="submit">
		<i class="icon-save-alt"></i> &nbsp;Save</button>
		
		<a th:href="@{/auth/concepts/types/list}" class="btn btn-default">
		<i class="icon-close-alt"></i>&nbsp;Cancel</a>
		
	</form>
</div>
</body>	
</html>
