<html layout:decorate="~{layouts/main}">
<head></head>
<body>
<div layout:fragment="content">
	<ol class="breadcrumb">
		<li><a th:href="@{/}">Home</a></li>
		<li><a th:href="@{/auth/authority/list}">Managed Authority Entries</a></li>
	</ol>
	<div id="wrapper">
	<div class="col-md-10" id="citationBlock">

	<table class="table table-striped table-bordered">
		<tr>
			<th>Title</th>
		</tr>	
		<tr th:id="'tr-'+${entry.key}" data-action='draggable' class="items" th:each="entry,loop : ${items}">
		 	<td th:data-key="${entry.key}" th:data-index="${loop.index}">
			    <a class="bib-entry" th:href="@{|/auth/group/${entry.group}/items/${entry.key}?index=${loop.index}|}">
			        <em style="color: black">[[${entry.title}]]</em>
			    </a>
		 	</td>
		</tr>
	</table>
</div>	
</div>
</body>
</html>