<html layout:decorate="~{layouts/main}">

<head>
<script th:src="@{/resources/paginator/jquery.twbsPagination.min.js}"></script>
<script th:src="@{/resources/authorities/authority-search.js}"></script>
<script th:inline="javascript">
    // Configure authority search endpoints and importer names from Thymeleaf
    CitesphereAuthority.Config.setEndpoint('conceptpower', /*[[@{/auth/authority/find/authorities/conceptpower}]]*/ '');
    CitesphereAuthority.Config.setEndpoint('viaf', /*[[@{/auth/authority/find/authorities/viaf}]]*/ '');
    CitesphereAuthority.Config.setEndpoint('isiscb', /*[[@{/auth/authority/find/authorities/isiscb}]]*/ '');
    CitesphereAuthority.Config.setEndpoint('getAuthority', /*[[@{/auth/authority/get}]]*/ '');
    CitesphereAuthority.Config.setImporterName('conceptpower', /*[[${@environment.getProperty('_importer_name_authority.importer.conceptpower')}]]*/ '');
    CitesphereAuthority.Config.setImporterName('viaf', /*[[${@environment.getProperty('_importer_name_authority.importer.viaf')}]]*/ '');

    $(function() {
        // Initialize the CreateHandler
        var createHandler = new CitesphereAuthority.CreateHandler({
            sources: ['conceptpower', 'viaf', 'isiscb']
        });
        createHandler.init();
    });
</script>
</head>

<body>

<div layout:fragment="content">
<h1>Create Authority</h1>
<p>To import an authority from another service, click the search button.</p>
<p class="pull-right">
    <button data-toggle="modal" data-target="#authorModal" class="btn btn-primary btn-sm">&nbsp;Search</button>
</p>

<form action="#" th:action="@{/auth/authority/create}" method="POST" th:object="${authorityForm}">
    <table class="table table-striped">
    
    <tr>
        <td width="20%"><label>Group</label></td>
        <td>
            <select th:field="*{groupId}" class="form-control" id="groupId">
                <option th:value=null>None</option>
                <th:block th:each="group:${groups}">
                    <option th:value="${group.groupId}">[[${group.name}]]</option>
                </th:block>
            </select>
        </td>
    </tr>
    
    <tr>
        <td width="20%"><label for="name">Name</label></td>
        <td><input id="name" th:field="*{name}" class="form-control"></input></td>
    </tr>
    
    <tr>
        <td width="20%"><label for="description">Description</label></td>
        <td><input id="description" th:field="*{description}" class="form-control"></input></td>
    </tr>
    
    <tr id="tr-uriAuthor">
        <td width="20%"><label for="uri">URI for the imported authority</label></td>
        <td><input id="uri" th:field="*{uri}" class="form-control" readonly/></td>
    </tr>
    
    
    <tr id="tr-importerName"> 
        <td width="20%"><label for="importerName">Import Source</label></td>
        <td><input id="importerName" th:field="*{importerName}" class="form-control" readonly/></td>
    </tr>
    
    <tr id="tr-importerId"> 
        <td width="20%"><label for="importerId">Importer Id</label></td>
        <td><input id="importerId" th:field="*{importerId}" class="form-control" readonly/></td>
    </tr>



    </table>
    
    <p class="pull-right">
        <button id="clear" class="btn btn-default" type="reset">Clear</button>
        <button class="btn btn-primary" type="submit">Create</button>
    </p>
</form>

<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="authorLabel">Enter Author Information</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="hidden" class="form-control" id="idAuthor">
          </div>
          <div class="form-group">
            <label for="firstNameAuthor">First Name:</label>
            <input type="text" class="form-control" id="firstNameAuthor" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastNameAuthor">Last Name:</label>
            <input type="text" class="form-control" id="lastNameAuthor" placeholder="Last Name">
          </div>
          <button class="btn btn-primary" data-toggle="modal" data-target="#selectAuthorityModel" id="searchAuthor"
                        style="margin-left: 80%" disabled>Search Author 
                        <i id="searchAuthorSpinner"class="icon-spinner" style="color: white"></i>
          </button>
          <div class="form-group">
            <label for="uriAuthor">URI:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="uriAuthor" placeholder="URI">
                <div id="authorIconContainer" class="input-group-addon" style="min-width: 35px;">
                    <i id="uriLoadingSpinnerAuthor" class="icon-spinner" data-toggle="popover" data-html="true" data-placement="right"></i>
                    <i id="uriLoadingFoundAuthor" class="icon-info-circle" data-toggle="popover" data-html="true" data-placement="right"></i>
                    <i id="uriLoadingFailureAuthor" class="icon-warning" data-toggle="popover" data-html="true" data-placement="right" data-content="Could not find any data for this URI."></i>
                </div>
                <input type="hidden" id="uriAuthorLocalId" />
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" id="addAuthorModalCancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="selectAuthorityModel" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="selectAuthorityLabel">
    <div class="modal-dialog" style="width: 1000px" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="authorLabel">Authority Search Result</h4>
            </div>
            
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#conceptpowerAuthoritiesTabContent" aria-controls="uploadTab"
                                role="tab" data-toggle="tab">Authorities from Conceptpower</a>
                        </li>
                        <li role="presentation">
                            <a href="#viafAuthoritiesTabContent"
                                aria-controls="browseTab" role="tab" data-toggle="tab">Authorities from VIAF</a>
                        </li>
                        <li role="presentation">
                            <a href="#isisCBAuthoritiesTabContent"
                                aria-controls="browseTab" role="tab" data-toggle="tab">Authorities from IsisCB</a>
                        </li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="conceptpowerAuthoritiesTabContent">
                            <ul id="conceptpowerAuthority-pagination-top" class="pagination-sm"></ul>
                            <div id="conceptpowerAuthoritiesError" class="text-warning" style="display: none">
                                <span> Error occurred while searching authorities in conceptpower </span>
                            </div>
                            </br>
                            <table class="table table-striped table-bordered table-fixed">
                                <tr><th>Name</th><th>URI</th><th>Description</th><th></th></tr>
                                <tbody id="conceptpowerAuthoritySearchResult">
                                </tbody>
                            </table>                            
                        </div>
                        
                        <div role="tabpanel" class="tab-pane" id="viafAuthoritiesTabContent">
                            <ul id="viafAuthority-pagination-top" class="pagination-sm"></ul>
                            <div id="viafAuthoritiesError" class="text-warning" style="display: none">
                                <span> Error occurred while searching authorities in VIAF </span>
                            </div>
                            </br>
                            <table class="table table-striped table-bordered table-fixed">
                                <tr><th>Name</th><th>URI</th><th>Description</th><th></th></tr>
                                <tbody id="viafAuthoritySearchResult">
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="isisCBAuthoritiesTabContent">
                            <ul id="isisCBAuthority-pagination-top" class="pagination-sm"></ul>
                            <div id="isisCBAuthoritiesError" class="text-warning" style="display: none">
                                <span> Error occurred while searching authorities in ISISCB </span>
                            </div>
                            </br>
                            <table class="table table-striped table-bordered table-fixed">
                                <tr><th>Name</th><th>URI</th><th>Description</th><th></th></tr>
                                <tbody id="isisCBAuthoritySearchResult">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        id="closeAuthoritySearchResult">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->

</div>

</body>

</html>
