<html layout:decorate="~{layouts/main}">

<head>
<script th:src="@{/resources/paginator/jquery.twbsPagination.min.js}"></script>
<script th:inline="javascript">
$(function() {

    $("#uriLoadingSpinnerAuthor").hide();
    $("#uriLoadingFailureAuthor").hide();
    $("#uriLoadingFoundAuthor").hide();
    $("#searchAuthorSpinner").hide();

    $("#firstNameAuthor").keyup(function(e) {
        allowAuthoritySearch("Author");
    });

    $("#lastNameAuthor").keyup(function(e) {
        allowAuthoritySearch("Author");
    });

    $("#addAuthorModalCancel").click(function() {
        $("#authorModal").modal('hide');
        resetPersonCreationModal("Author");
    });

    $("#searchAuthor").click(function() {
        $("#selectAuthorityModel").on('hidden.bs.modal', function(e) {
            $('#selectAuthorityModel a:first').tab('show');
        })
        $("#searchAuthorSpinner").show();

        $('#conceptpowerAuthority-pagination-top').twbsPagination('destroy');
        getconceptpowerAuthorities('Author', 'Author', 0)
        
        $("#searchAuthorSpinner").hide();
    });

    $("#authorIconContainer").on('click', ".popover #authorCreateAuthority", function() {
        var uri = $("#uriLoadingFoundAuthor").attr('data-authority-uri');
        $.post([[@{|/auth/authority/create?${_csrf.parameterName}=${_csrf.token}&uri=|}]]+uri, function(data) {
            $("#authorCreateAuthority").hide();
            $("#uriAuthorLocalId").val(data['id']);
            $("#authorAuthorityUsed").html("Created new authority entry <i>" + data['name'] + "</i>.");
            $("#authorAuthorityCreationFeedback").html('<div class="text-success" style="margin-top:10px;">Authority entry has been created!</div>');
            showPersonNameInModal(data['name'], "Author");
            $("#uriLoadingFoundAuthor").popover('hide');
        });
    });

    $("#authorIconContainer").on('click', ".popover .foundAuthorities li a", function(event) {
        var authId = $(this).attr('data-authority-id');
        $("#uriAuthorLocalId").val(authId);
        $("#authorAuthorityUsed").html("Using stored authority entry <i>" + $(this).attr('data-authority-name') + "</i>.");
        showPersonNameInModal($(this).attr('data-authority-name'), "Author");
        $("#uriLoadingFoundAuthor").popover('hide');
        event.preventDefault();
    });

    var timer = null;
    $("#uriAuthor").change(function() {
        resetPersonAuthorityCreation("Author");
        $("#uriLoadingSpinnerAuthor").show();
        var uri = $("#uriAuthor").val();
        clearTimeout(timer);
        timer = setTimeout(function() {
            getPersonAuthority(uri, "Author");
        }, 1000);
    });

    $("#closeAuthoritySearchResult").click(function() {
        $("#selectAuthorityModel").modal('hide');
        $('#selectAuthorityModel a:first').tab('show');
    });

});

function allowAuthoritySearch(element) {
    if ($("#firstName" + element).val() == "" && $("#lastName" + element).val() == "") {
        $("#search" + element).prop("disabled", true);
    } else {
        $("#search" + element).prop("disabled", false);
    }
}

/* Function to populate name in modal fetched from uri */
function showPersonNameInModal(name, personType) {
    var personName = name;

    /* Name containing brackets
    example: Dempsey, Hugh A. (Hugh Aylmer), 1929- */
    if (name.includes("(")) {
        personName = name.substring(0, name.indexOf("("));
    }

    /* Name containing title/year
    example: Iqbāl, Muḥammad, Sir, 1877-1938 */
    if (personName.split(",").length > 2) {
        personName = personName.substring(0, personName.indexOf(',', personName.indexOf(",") + 1));
    }

    /* Name containing span
    example: Dempsey, Patrick, 1966- */
    if (personName.includes("-")) {
        personName = personName.trim();
        personName = personName.substring(0, personName.lastIndexOf(' '));
    }

    /* Name separated by comma
    example: Dempsey, Paul Stephen */
    if (personName.indexOf(",") != -1) {
        $("#firstName" + personType).val(personName.substring(personName.indexOf(',') + 1).trim());
        $("#lastName" + personType).val(personName.substring(0, personName.lastIndexOf(', ')));
    } else {
        $("#lastName" + personType).val(personName.substring(personName.lastIndexOf(' ') + 1).trim());
        $("#firstName" + personType).val(personName.substring(0, personName.lastIndexOf(' ')));
    }
}

function getconceptpowerAuthorities(modalType, personType, page) {
    var firstName = $("#firstName" + personType).val();
    var lastName = $("#lastName" + personType).val();
    personType_lowerCase = personType.toLowerCase();
    url = [[@{|/auth/authority/find/authorities/conceptpower|}]] + '?firstName=' + firstName + '&lastName=' + lastName + '&page=' + page;
    $.ajax({
        dataType: "json",
        type: 'GET',
        url: url,
        async: false,
        success: function(data) {
            $("#conceptpowerAuthoritySearchResult").empty();
            var content = '';

            if (data['foundAuthorities'] != null && data['foundAuthorities'].length > 0) {
                data['foundAuthorities'].forEach(function(elem) {
                    content += '<tr> <td class="name">' + elem['name'] + '</td> <td class="uri">' + elem['uri'] + '</td> <td>';
                    if (elem['description'] == null) {
                        content += ' - </td>';
                    } else {
                        content += elem['description'] + '</td>';
                    }
                    content += '<td style="vertical-align: middle;"><span class="conceptpower-authority-entry btn btn-primary" title="Create new managed authority" style="padding: 5px;"><i class="icon-checkmark-alt" style="color: white;"></i></span></td></tr>';

                });

                $('#conceptpowerAuthority-pagination-top').twbsPagination({
                    totalPages: data['totalPages'],
                    startPage: data['currentPage'],
                    prev: "«",
                    next: "»",
                    visiblePages: 5,
                    initiateStartPageClick: false,
                    onPageClick: function(event, page) {
                        getconceptpowerAuthorities(modalType, personType, page)
                    }
                });

            }

            $("#conceptpowerAuthoritySearchResult").append(content);
            $(".conceptpower-authority-entry").click(function() {
                name = $(this).closest("tr").find(".name").text();
                uri = $(this).closest("tr").find(".uri").text();

                showPersonNameInModal(name, personType)
                $("#uri" + modalType).val(uri);

                createManageAuthorityURL = [[@{/auth/authority/add?}]] + '&source=conceptpower&uri=' + uri;
                $.ajax({
                    dataType: "json",
                    type: 'POST',
                    url: createManageAuthorityURL,
                    data: {[[${_csrf.parameterName}]]:[[${_csrf.token}]]},
                    async: false,
                    success: function(data) {
                        $("#" + personType_lowerCase + "AuthorityUsed").html("Created new authority entry <i>" + name + "</i>.");
                    },
                    error: function(data) {
                        $("#uri" + modalType).val("");
                        $("#" + personType_lowerCase + "AuthorityUsed").html("Failed to create new authority entry <i>" + name + "</i>.");
                    }
                });

                $("#selectAuthorityModel").modal('hide');
            });

        },
        error: function(data) {
            $('#conceptpowerAuthoritySearchResult').parents('table').hide()
            $("#conceptpowerAuthoritiesError").show();
        }

    });
}

function resetPersonCreationModal(modalType) {
    var modalNameLCase = modalType.toLowerCase();
    $("#firstName" + modalType).val("");
    $("#lastName" + modalType).val("");
    $("#id" + modalType).attr("data-" + modalType + "-id", "");
    $("#uri" + modalType).val("");
    if (modalType == "Creator") {
        $("#addCreatorButton").attr("data-creator-type", "");
        $("#creatorLabel").text("Enter Creator Information");
        $("#addCreatorButton").text("Add Creator");
    }

    $("#add" + modalType + "Button").text("Add " + modalType);
    resetPersonAuthorityCreation(modalType);
}

function resetPersonAuthorityCreation(personType) {
    $("#uriLoadingFound" + personType).hide();
    $("#uriLoadingFailure" + personType).hide();
    $("#uriLoadingSpinner" + personType).hide();
    $("#uriLoadingFound" + personType).popover('hide');
    $("#uriLoadingFailure" + personType).popover('hide');
    $("#" + personType.toLowerCase() + "AuthorityUsed").html("");
    $("#" + personType.toLowerCase() + "AuthorityCreationFeedback").html("");
    $("#" + personType.toLowerCase() + "AuthorityCreationFeedback").hide();
}

function getPersonAuthority(uri, personType) {

    personType_lowerCase = personType.toLowerCase();
    $.get([[@{/auth/authority/get?uri=}]] + uri, function(data) {
            $("#uriLoadingFound" + personType).attr("data-authority-uri", data['uri']);
            var content = "Authority <b>" + uri + "</b>";
            if (data['userAuthorityEntries'] != null && data['userAuthorityEntries'].length > 0) {
                content += "<br><br>This authority entry has already been imported by you:";
                content += '<ul class="foundAuthorities">';
                data['userAuthorityEntries'].forEach(function(elem) {
                    content += '<li>' + elem['name'];
                    content += '</li>';
                });
                content += "</ul>";
            } else if (data['importedAuthority'] != null) {
                content += "<br><br>Following authority can be imported:<br>" + data['importedAuthority']['name'] +
                    '<span id="' + personType_lowerCase + 'AuthorityCreationFeedback"><button id="' + personType_lowerCase + 'CreateAuthority" type="submit" class="btn btn-link pull-right"><b>Import this authority</b></button></span>';
            } else {
                content += "<br><br>No authorities found for the given URI<br>";
            }

            $("#uriLoadingFound" + personType).attr("data-content", content);
            $("#uriLoadingFound" + personType).attr("data-authority-uri", uri);
            $("#uriLoadingFound" + personType).show();
            $("#uriLoadingFound" + personType).popover('show');
        })
        .fail(function() {
            $("#uriLoadingFailure" + personType).show();
        })
        .always(function() {
            $("#uriLoadingSpinner" + personType).hide();
        });

}
</script>
</head>

<body>

<div layout:fragment="content">
<h1>Create Authority</h1>

<p class="pull-right">
    <button data-toggle="modal" data-target="#authorModal" class="btn btn-primary btn-sm">&nbsp;Search</button>
</p>

<form action="#" th:action="@{/auth/authority/new}" method="POST" th:object="${authorityForm}">
    <table class="table table-striped">
        
    <tr>
        <td width="20%"><label>Name</label></td>
        <td><input th:field="*{name}" class="form-control"></input></td>
    </tr>
    
    <tr>
        <td width="20%"><label>Description</label></td>
        <td><input th:field="*{description}" class="form-control"></input></td>
    </tr>
    
    </table>
    
    <p class="pull-right">
        <button class="btn btn-primary" type="submit">Create</button>
    </p>
</form>

<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="authorLabel">Enter Author Information</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="hidden" class="form-control" id="idAuthor">
          </div>
          <div class="form-group">
            <label for="firstNameAuthor">First Name:</label>
            <input type="text" class="form-control" id="firstNameAuthor" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastNameAuthor">Last Name:</label>
            <input type="text" class="form-control" id="lastNameAuthor" placeholder="Last Name">
          </div>
          <button class="btn btn-primary" data-toggle="modal" data-target="#selectAuthorityModel" id="searchAuthor"
                        style="margin-left: 80%" disabled>Search Author 
                        <i id="searchAuthorSpinner"class="icon-spinner" style="color: white"></i>
          </button>
          <div class="form-group">
            <label for="uriAuthor">URI:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="uriAuthor" placeholder="URI">
                <div id="authorIconContainer" class="input-group-addon" style="min-width: 35px;">
                    <i id="uriLoadingSpinnerAuthor" class="icon-spinner" data-toggle="popover" data-html="true" data-placement="right"></i>
                    <i id="uriLoadingFoundAuthor" class="icon-info-circle" data-toggle="popover" data-html="true" data-placement="right"></i>
                    <i id="uriLoadingFailureAuthor" class="icon-warning" data-toggle="popover" data-html="true" data-placement="right" data-content="Could not find any data for this URI."></i>
                </div>
                <input type="hidden" id="uriAuthorLocalId" />
            </div>
            <div class="text-warning pull-right" id="authorAuthorityUsed"></div>
          </div>
          
          <div class="modal-footer">
            <button type="button" id="addAuthorModalCancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="selectAuthorityModel" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="selectAuthorityLabel">
    <div class="modal-dialog" style="width: 1000px" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="authorLabel">Authority Search Result</h4>
            </div>
            
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#conceptpowerAuthoritiesTabContent" aria-controls="uploadTab"
                                role="tab" data-toggle="tab">Authorities from Conceptpower</a>
                        </li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="conceptpowerAuthoritiesTabContent">
                            <ul id="conceptpowerAuthority-pagination-top" class="pagination-sm"></ul>
                            <div id="conceptpowerAuthoritiesError" class="text-warning" style="display: none">
                                <span> Error occurred while searching authorities in conceptpower </span>
                            </div>
                            </br>
                            <table class="table table-striped table-bordered table-fixed">
                                <tr><th>Name</th><th>URI</th><th>Description</th><th></th></tr>
                                <tbody id="conceptpowerAuthoritySearchResult">
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        id="closeAuthoritySearchResult">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->

</div>

</body>

</html>